player-connection-mode=Listen
player-connection-guid=3706096549
player-connection-debug=0
player-connection-project-name=Blade
player-connection-ip=192.168.1.27
player-connection-ip=192.168.119.1
player-connection-ip=192.168.112.1
gfx-enable-gfx-jobs=
gfx-enable-native-gfx-jobs=
wait-for-native-debugger=0
vr-enabled=0
hdr-display-enabled=0
